{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
	
	<form method="post" enctype="multipart/form-data">	
		{% csrf_token %}
			<fieldset class="form-group"> <legend class="border-bottom mb-4"> Blog Post </legend> </fieldset>

		{{form.media}}	
		{{form |crispy}}

				<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
				<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

				<script>
      document.addEventListener('DOMContentLoaded', function () {
        // Replace 'id_content' with the actual ID of your textarea
        CKEDITOR.replace('id_content', {
          // Copy the CKEditor configuration from your textarea
          // ...
          // Include any additional configuration if needed
        });
      });
    </script>

    <textarea name="content" cols="40" rows="10" class="ckeditoruploadingwidget form-control" required="" id="id_content" data-processed="0" data-config="{&quot;skin&quot;: &quot;moono-lisa&quot;, ... }" data-external-plugin-resources="[]" data-id="id_content" data-type="ckeditortype" data-gramm="false" wt-ignore-input="true" data-quillbot-element="LBgz7nVntK3FHBWLk5dJe"></textarea>


		<div class="form-group">
			<button class="btn btn-outline-info" type="submit"> Create Blog </a></button>
		
		</div>
		</form>


{% endblock %}