{% extends 'blog/main.html' %}
{% load social_share %}


{% block content %}
	
	<h1> {{object.title }} </h1>
		<p> Author: <a href="{% url 'user-posts' object.author.username %}">{{object.author}} </a>  | {{object.created_on}} </p>
		{% if object.author == user %}
			<div>
				<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}" style="color:black;"> Update </a>
				<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}" style="color:black;"> Delete </a>
			</div>
			
		{% endif %}
		<p> {{object.content | safe}} </p>

		<p class="small-text"> <strong> Share: </strong></p>
	<div class="social-buttons-wrapper">
	  {% post_to_facebook object.get_absolute_url "Facebook" %}
	  {% post_to_twitter "{{ object.title }}" object.get_absolute_url "Twitter" %}
	  {% post_to_telegram "{{ object.title }}" object.get_absolute_url "Telegram" %}
	  {% post_to_whatsapp  object.get_absolute_url "WhatsApp" %}
	  {% post_to_reddit "{{ object.title }}" object.get_absolute_url "Reddit" %}
</div>

		

{% endblock %}