{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
	
	<fieldset class="form-group"> <legend class="border-bottom mb-4"> Update Profile </legend> </fieldset>
	<div class="content-section">
		<div class="media">
			<img class="rounded-circle account-img" src="user.profile.image">
			<div class="media-body">
				<h2 class="account-heading"> {{user.username}} </h2>
				<p class="text-secondary"> {{user.email}} </p>
			</div>
		</div>
		<form method="post">	
		{% csrf_token %}
			
		{{u_form|crispy}}
		{{p_form|crispy}}

		<div class="form-group">
			<button class="btn btn-outline-info" type="submit"> Update Account </a></button>
			<a class="btn btn-outline-danger" href="{% url 'delete_user' user.id %}">Delete Account</a>
		</div>

		
		</form>
	</div>
	
{% endblock %}